    h2 {
      text-align: center;
    }
    .btn {
      font-size: 18px;
      padding: 15px 30px;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 18px;
      background: linear-gradient(45deg, red, blue, green, yellow);
      background-size: 400% 400%;
      animation: gradientAnimation 4s infinite linear;
      transition: transform 0.2s;
    }

    .btn:hover {
      transform: scale(1.1);
      color: white;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
